body{
    font-size:20px;
    display:flex;
    box-sizing:border-box;
    justify-content:center;
}

a{
    text-decoration: none;
}

nav{
    position:fixed;
    top:0px;
    left:0px;
    width:30%;
    border-right:1px solid black;
    height:100%;
}

nav>div{
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom:2px solid black;
    height:6.6%;
}

nav div:last-of-type{
    border-bottom:none;
}

main{
    
    position:absolute;
    box-sizing:border-box;
    width:70%;
    display:flex;
    flex-wrap:wrap;
    margin-left:300px;
    padding:50px;
    
}



code{
    display:block;
    margin:15px;
    padding:10px;
    line-height:2;
  text-align: left;
  background-color: #DBDAD3;
  border-radius:5px;
}

main>section{
    dislay:flex;
    justify-content:center;
    align-items:center;
   
}