body{
  display:flex;  
}

header>nav>ul>li{
    border-bottom:1px solid black;
    list-style: none;
   width:100%;
}

header>nav{
position:fixed;
top:0px;
left:0px;
min-width: 200px;

}

header{
    white-space:nowrap;
    border-right:1px solid black;
}

main{
    position: absolute ;
}